---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero.astro"
import Experiencia from "../components/organisms/Experiencia.astro";
---

<Layout title="RickyDev">
	<main>
		<Hero />
		<Experiencia />
	</main>
</Layout>

<style></style>
