---
import LinkHeader from "../atoms/LinkHeader.astro"
---

<nav class="flex justify-between gap-10">
    <LinkHeader href="#home">Home</LinkHeader>
    <LinkHeader href="#about">About</LinkHeader>
    <LinkHeader href="#jobs">Jobs</LinkHeader>
    <LinkHeader href="#projects">Project</LinkHeader>
    <LinkHeader href="#contact">Contact</LinkHeader>
</nav>