---
import LinkHeader from "../atoms/LinkHeader.astro"
---

<nav class="flex justify-between gap-10">
    <LinkHeader>Home</LinkHeader>
    <LinkHeader>About</LinkHeader>
    <LinkHeader>Project</LinkHeader>
    <LinkHeader>Contact</LinkHeader>
</nav>