---
import RG from "../icons/RG.astro"
import NavBar from "../molecules/NavBar.astro"
---

<header id="home" class="flex justify-between items-center py-3 w-[1120px]">
    <a href="/"><RG class="size-14" /></a>
    <NavBar />
    
</header>